PORT=3000
CORS_ORIGIN=http://localhost:5174

# Azure SQL
DB_SERVER=thecabezilla20.database.windows.net
DB_NAME=LicenciasLaredo
DB_USER=tu_usuario
DB_PASSWORD=tu_password

# JWT
JWT_SECRET=cambia_esto_por_una_clave_segura_larga
JWT_EXPIRES_IN=8h
